Json codes/flowsfinal.json
[{"id":"34a927de.b24558","type":"tab","label":"Projeto","disabled":false,"info":""},{"id":"b498d9aa.a6e718","type":"http request","z":"34a927de.b24558","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.hgbrasil.com/weather","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":120,"wires":[["e5485931.ba7298","50b22d3a.465dc4"]]},{"id":"b7a42f75.48fd2","type":"inject","z":"34a927de.b24558","name":"Iniciar","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":120,"wires":[["17ad44ea.8eb0cb"]]},{"id":"17ad44ea.8eb0cb","type":"change","z":"34a927de.b24558","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://things.ubidots.com/api/v1.6/devices/projeto/api_/lv","tot":"str"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.X-Auth-Token","pt":"msg","to":"BBFF-bMmSqHnLX7HEnw9PbI6Cj5HunRnYIF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":120,"wires":[["b498d9aa.a6e718"]]},{"id":"e5485931.ba7298","type":"debug","z":"34a927de.b24558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":120,"wires":[]},{"id":"50b22d3a.465dc4","type":"json","z":"34a927de.b24558","name":"","property":"payload","action":"","pretty":false,"x":630,"y":180,"wires":[["83990ef2.0961a","6eda4c0f.4cf164"]]},{"id":"83990ef2.0961a","type":"function","z":"34a927de.b24558","name":"","func":"msg.payload = {\"dashboard_tempearatura\":{\"value\":msg.payload[\"results\"][\"temp\"]\n}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":180,"wires":[["ad190174.c1e5f"]]},{"id":"ad190174.c1e5f","type":"mqtt out","z":"34a927de.b24558","name":"","topic":"/v1.6/devices/projeto","qos":"","retain":"","broker":"769b9daf.675fb4","x":980,"y":180,"wires":[]},{"id":"6e2f97b6.41a9e8","type":"comment","z":"34a927de.b24558","name":"Pega o valor da temperatura da api","info":"","x":820,"y":60,"wires":[]},{"id":"83fd30a4.4b119","type":"http request","z":"34a927de.b24558","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.hgbrasil.com/weather","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":380,"wires":[["d3abdfc2.099fc","51fd2f4c.1a228"]]},{"id":"fcdd620d.18477","type":"inject","z":"34a927de.b24558","name":"Iniciar","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":380,"wires":[["607bd43f.56f69c"]]},{"id":"d3abdfc2.099fc","type":"json","z":"34a927de.b24558","name":"","property":"payload","action":"","pretty":false,"x":630,"y":440,"wires":[["664b31ce.55e8a","8a7d337d.3af5c"]]},{"id":"664b31ce.55e8a","type":"function","z":"34a927de.b24558","name":"","func":"msg.payload = {\"dashboard_umidade\":{\"value\":msg.payload[\"results\"][\"humidity\"]\n}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":440,"wires":[["7354d78d.f571f8"]]},{"id":"7354d78d.f571f8","type":"mqtt out","z":"34a927de.b24558","name":"","topic":"/v1.6/devices/projeto","qos":"","retain":"","broker":"769b9daf.675fb4","x":980,"y":440,"wires":[]},{"id":"70d8dafd.b12e14","type":"comment","z":"34a927de.b24558","name":"Pega o valor da umidade da api","info":"","x":810,"y":300,"wires":[]},{"id":"607bd43f.56f69c","type":"change","z":"34a927de.b24558","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://things.ubidots.com/api/v1.6/devices/projeto/api_/lv","tot":"str"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.X-Auth-Token","pt":"msg","to":"BBFF-bMmSqHnLX7HEnw9PbI6Cj5HunRnYIF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":380,"wires":[["83fd30a4.4b119"]]},{"id":"51fd2f4c.1a228","type":"debug","z":"34a927de.b24558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":380,"wires":[]},{"id":"90946005.a7a5b","type":"mqtt in","z":"34a927de.b24558","name":"","topic":"/v1.6/devices/projeto/dashboard_solo","qos":"2","datatype":"json","broker":"769b9daf.675fb4","x":170,"y":1180,"wires":[["6c023dc2.139714"]]},{"id":"6d7bccc2.217744","type":"function","z":"34a927de.b24558","name":"Valor Solo","func":"msg.payload = {\"dashboard_solo\": {\"value\": msg.payload}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1040,"wires":[["d9e63982.9e1c18"]]},{"id":"72d468b2.a82218","type":"random","z":"34a927de.b24558","name":"Gerador","low":1,"high":"100","inte":"true","property":"payload1","x":300,"y":600,"wires":[["e6ac49e5.b20ad8","8931f684.355a98"]]},{"id":"61f042b6.c14bcc","type":"inject","z":"34a927de.b24558","name":"Iniciar","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":600,"wires":[["72d468b2.a82218"]]},{"id":"e6ac49e5.b20ad8","type":"function","z":"34a927de.b24558","name":"","func":"msg.payload = {\"gauge\": {\"value\": msg.payload1}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":600,"wires":[["868d394b.01aab8"]]},{"id":"868d394b.01aab8","type":"mqtt out","z":"34a927de.b24558","name":"pesoumido","topic":"/v1.6/devices/projeto","qos":"","retain":"","broker":"769b9daf.675fb4","x":650,"y":600,"wires":[]},{"id":"e1f16e0b.489fc","type":"comment","z":"34a927de.b24558","name":"Numero random para os pesos do solo","info":"","x":810,"y":540,"wires":[]},{"id":"8abefafb.72fe18","type":"random","z":"34a927de.b24558","name":"NumeroRandom","low":1,"high":"100","inte":"true","property":"payload2","x":300,"y":700,"wires":[["125eac99.cc5633","e4c89064.c5d2c"]]},{"id":"125eac99.cc5633","type":"function","z":"34a927de.b24558","name":"","func":"msg.payload = {\"gaugeseco\": {\"value\": msg.payload2}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":700,"wires":[["6f130b54.16bc24"]]},{"id":"6f130b54.16bc24","type":"mqtt out","z":"34a927de.b24558","name":"pesoseco","topic":"/v1.6/devices/projeto","qos":"","retain":"","broker":"769b9daf.675fb4","x":660,"y":700,"wires":[]},{"id":"3e24f0f6.2976a","type":"inject","z":"34a927de.b24558","name":"Iniciar","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":700,"wires":[["8abefafb.72fe18"]]},{"id":"66c4235d.fda12c","type":"mqtt in","z":"34a927de.b24558","name":"","topic":"/v1.6/devices/projeto/gaugeseco","qos":"2","datatype":"json","broker":"769b9daf.675fb4","x":170,"y":880,"wires":[["a9198068.02f38"]]},{"id":"80228ee4.520e5","type":"mqtt in","z":"34a927de.b24558","name":"","topic":"/v1.6/devices/projeto/gauge","qos":"2","datatype":"json","broker":"769b9daf.675fb4","x":180,"y":820,"wires":[["a9198068.02f38"]]},{"id":"d9e63982.9e1c18","type":"mqtt out","z":"34a927de.b24558","name":"","topic":"/v1.6/devices/projeto","qos":"","retain":"","broker":"769b9daf.675fb4","x":880,"y":1040,"wires":[]},{"id":"a9198068.02f38","type":"change","z":"34a927de.b24558","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://things.ubidots.com/api/v1.6/devices/projeto/gauge/lv","tot":"str"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.X-Auth-Token","pt":"msg","to":"BBFF-bMmSqHnLX7HEnw9PbI6Cj5HunRnYIF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":880,"wires":[["da480520.bcef38"]]},{"id":"b14b0229.2b863","type":"change","z":"34a927de.b24558","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://things.ubidots.com/api/v1.6/devices/projeto/gaugeseco/lv","tot":"str"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.X-Auth-Token","pt":"msg","to":"BBFF-bMmSqHnLX7HEnw9PbI6Cj5HunRnYIF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":980,"wires":[["b165e21b.fb76b"]]},{"id":"da480520.bcef38","type":"http request","z":"34a927de.b24558","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":880,"wires":[["34724613.abad3a"]]},{"id":"b165e21b.fb76b","type":"http request","z":"34a927de.b24558","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":980,"wires":[["86d4f768.622518"]]},{"id":"ef89aced.75354","type":"inject","z":"34a927de.b24558","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":940,"wires":[["a9198068.02f38"]]},{"id":"34724613.abad3a","type":"function","z":"34a927de.b24558","name":"","func":"flow.set (\"gauge\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":880,"wires":[["b14b0229.2b863"]]},{"id":"86d4f768.622518","type":"function","z":"34a927de.b24558","name":"","func":"flow.set (\"gaugeseco\",msg.payload);\nvar peso_umido = flow.get(\"gauge\");\nvar peso_seco = flow.get(\"gaugeseco\");\nmsg.payload = Math.abs(( peso_umido - peso_seco )/ peso_seco )* 100;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1040,"wires":[["6d7bccc2.217744","d266dd95.d1dc1"]]},{"id":"a6af9016.cba74","type":"comment","z":"34a927de.b24558","name":"Calcula a quantidade de peso do solo","info":"","x":810,"y":800,"wires":[]},{"id":"d10236a.2a60cc8","type":"switch","z":"34a927de.b24558","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"30","vt":"num"},{"t":"gt","v":"30","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":1380,"wires":[["e0e1a0de.e7ef5"],["7621ee91.6eb48"]]},{"id":"776df2.4401a21","type":"mqtt out","z":"34a927de.b24558","name":"led","topic":"/v1.6/devices/projeto","qos":"","retain":"","broker":"769b9daf.675fb4","x":950,"y":1380,"wires":[]},{"id":"1ee9f91b.48f6a7","type":"function","z":"34a927de.b24558","name":"","func":"msg.payload = {\"led\":{\"value\": msg.payloadled}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":1380,"wires":[["776df2.4401a21"]]},{"id":"e0e1a0de.e7ef5","type":"change","z":"34a927de.b24558","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"post","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://things.ubidots.com/api/v1.6/devices/projeto/","tot":"str"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.X-Auth-Token","pt":"msg","to":"BBFF-bMmSqHnLX7HEnw9PbI6Cj5HunRnYIF","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"led\":{\"value\":1}}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1340,"wires":[["864fd69e.419f48"]]},{"id":"864fd69e.419f48","type":"http request","z":"34a927de.b24558","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":1380,"wires":[["1ee9f91b.48f6a7"]]},{"id":"6c023dc2.139714","type":"change","z":"34a927de.b24558","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://things.ubidots.com/api/v1.6/devices/projeto/dashboard_solo/lv","tot":"str"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.X-Auth-Token","pt":"msg","to":"BBFF-bMmSqHnLX7HEnw9PbI6Cj5HunRnYIF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1220,"wires":[["3a22106d.6f4eb"]]},{"id":"995b5287.f32b8","type":"inject","z":"34a927de.b24558","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":1240,"wires":[["6c023dc2.139714"]]},{"id":"7621ee91.6eb48","type":"change","z":"34a927de.b24558","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"post","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://things.ubidots.com/api/v1.6/devices/projeto/","tot":"str"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.X-Auth-Token","pt":"msg","to":"BBFF-bMmSqHnLX7HEnw9PbI6Cj5HunRnYIF","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"led\":{\"value\":0}}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1420,"wires":[["864fd69e.419f48"]]},{"id":"3a22106d.6f4eb","type":"http request","z":"34a927de.b24558","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":1220,"wires":[["d10236a.2a60cc8"]]},{"id":"f39a7d90.a85c","type":"comment","z":"34a927de.b24558","name":"mostra o led a partir da quantidade do solo","info":"","x":820,"y":1140,"wires":[]},{"id":"6eda4c0f.4cf164","type":"function","z":"34a927de.b24558","name":"","func":"msg.payload = msg.payload[\"results\"][\"temp\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":240,"wires":[["53bc0444.e8a53c"]]},{"id":"53bc0444.e8a53c","type":"ui_gauge","z":"34a927de.b24558","name":"gauge temp","group":"44beef57.90a33","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"ºC","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":240,"wires":[]},{"id":"8a7d337d.3af5c","type":"function","z":"34a927de.b24558","name":"","func":"msg.payload = msg.payload[\"results\"][\"humidity\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":480,"wires":[["a1adb680.69a6b8"]]},{"id":"a1adb680.69a6b8","type":"ui_gauge","z":"34a927de.b24558","name":"gauge umid","group":"9c7b355b.d868a8","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":480,"wires":[]},{"id":"8931f684.355a98","type":"function","z":"34a927de.b24558","name":"","func":"msg.payload = msg.payload1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":640,"wires":[["47322cdf.7cf894"]]},{"id":"47322cdf.7cf894","type":"ui_gauge","z":"34a927de.b24558","name":"gauge solo umid","group":"bcc8ead3.e724a8","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"75","x":660,"y":640,"wires":[]},{"id":"e4c89064.c5d2c","type":"function","z":"34a927de.b24558","name":"","func":"msg.payload = msg.payload2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":740,"wires":[["9c328b5b.0346b8"]]},{"id":"9c328b5b.0346b8","type":"ui_gauge","z":"34a927de.b24558","name":"gauge solo seco","group":"195bf23a.cfa5ae","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"75","x":660,"y":740,"wires":[]},{"id":"d266dd95.d1dc1","type":"function","z":"34a927de.b24558","name":"Valor Solo","func":"msg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1080,"wires":[["9597c73e.cf3fa8"]]},{"id":"9597c73e.cf3fa8","type":"ui_chart","z":"34a927de.b24558","name":"calculo dos solos","group":"c61cabae.0d57c8","order":0,"width":0,"height":0,"label":"Relação dos solos","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":890,"y":1080,"wires":[[]]},{"id":"769b9daf.675fb4","type":"mqtt-broker","name":"","broker":"industrial.api.ubidots.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"44beef57.90a33","type":"ui_group","name":"Temperatura","tab":"5ac34a83.e74704","order":2,"disp":true,"width":"6","collapse":false},{"id":"9c7b355b.d868a8","type":"ui_group","name":"Umidade","tab":"5ac34a83.e74704","order":1,"disp":true,"width":"6","collapse":false},{"id":"bcc8ead3.e724a8","type":"ui_group","name":"Solo Umido","tab":"5ac34a83.e74704","order":3,"disp":true,"width":"6","collapse":false},{"id":"195bf23a.cfa5ae","type":"ui_group","name":"Solo Seco","tab":"5ac34a83.e74704","order":4,"disp":true,"width":"6","collapse":false},{"id":"c61cabae.0d57c8","type":"ui_group","name":"Valor Solo","tab":"6ef91c0b.5ea9b4","order":1,"disp":true,"width":"6","collapse":false},{"id":"5ac34a83.e74704","type":"ui_tab","name":"Mostradores","icon":"dashboard","disabled":false,"hidden":false},{"id":"6ef91c0b.5ea9b4","type":"ui_tab","name":"Calculo Solo","icon":"dashboard","disabled":false,"hidden":false}]